<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>toddmahoney.tech</title>
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/assets/css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none">Todd Mahoney</span>
                <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/img/profile.jpg" alt="" /></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experience</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Education</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Interests</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#certifications">Certifications</a></li>
                </ul>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        Todd
                        <span class="text-primary">Mahoney</span>
                    </h1>
                    <div class="subheading mb-5">
                        Boise, Idaho || 
                        <a href="mailto:todd@bytesizedbandit.com">todd@bytesizedbandit.com || </a>
                        <a href="toddmahoney.tech">toddmahoney.tech</a>
                    </div>
                    <p class="lead mb-5">
                        I am an IT Professional with 14 years of experience in various positions & roles. My expertise lies in providing a bridge between the technical side of systems and the service needs for end users.<br>
                        I am a musician and professional electronic music producer with professional releases on labels such as Corsten Ferry's <a href="https://www.flashoverrecordings.com/">Flashover Recordings</a>. In my spare time [ha!], I am also an independent game and app developer specializing in iOS.<br>
                        My favorite role, though, is being a proud father to my teenage son and adult-aged daughter. Welcome to my little corner of the web<br> 
                    </p>
                    <div class="social-icons">
                        <a class="social-icon" href="https://www.linkedin.com/in/toddmahoney208/"><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-icon" href="https://github.com/t0dd"><i class="fab fa-github"></i></a>
                        <a class="social-icon" href="https://twitter.com/f_wond3rland"><i class="fab fa-twitter"></i></a>
                        <a class="social-icon" href="https://www.facebook.com/findingwonderland"><i class="fab fa-facebook-f"></i></a>
                        <a class="social-icon" href="https://www.instagram.com/find1ngwonderland/"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Experience -->
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 class="mb-5">Experience</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">IT Systems Administrator</h3>
                            <div class="subheading mb-3">Northwest Real Estate Capital Corp.</div>
                            <p>Manages and maintains system infrastructure including networks, servers, workstations, phone system, databases, testing computer equipment, firewalls, malware and other software and hardware. Monitors the system daily and respond quickly to any security breaches or usability concerns. 
                                Backs up systems and verifies that backups have been completed. Regularly upgrades systems as needed.</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">February 2020 - Present</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">IT Helpdesk Specialist</h3>
                            <div class="subheading mb-3">Northwest Real Estate Capital Corp.</div>
                            <p>Provides technical support (Hardware & Software) for NWRECC, Nationwide Property Management and Tamarack Property Management Company.  Builds & maintains misc. web sites for the company. Software and hardware installation on workstations and servers. 
                                PC Maintenance and updates. Remote access to offsite workstations.</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">April 2009 - May 2011, November 2012 - February 2020</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Front End Web Developer</h3>
                            <div class="subheading mb-3">Independent contractor and NWRECC</div>
                            <p>Developed the "front end" of various websites for misc clients using HTML,CSS and JavaScript.
                                Developed static property websites for Northwest Real Estate Capital Corp. and Tamarack Property Management Company while working as the helpdesk 2012-2016.
                            </p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">2010 - 2016</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">IT Systems Operator</h3>
                            <div class="subheading mb-3">Office of the State Controller of Idaho</div>
                            <p>Identified, initiated, resolved or escalated user problems with the State of Idaho mainframe computer system.  Worked with programmers and systems staff to resolve issues.  Recorded resolutions and maintained help desk documentation.  Processed job requests for EIS, accounting and various other state agencies.Maintained Tape Library Management System.  Enforcement of physical security for computer systems and the Computer Service Center.  Performed and monitored large system backups and hardware preventive maintenance. 
                                Experience with project management and formal automated ticketing software for managing, escalating and documenting support cases.</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">December 2007 - April 2009</span></div>
                    </div>
                </div>
            </section>

        </div>

        <!-- JS files-->
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Core theme JS-->
        <script src="/assets/js/scripts.js"></script>

    </body>
    </html>